body {
    padding: 40px;
}

.menu {
    display: block;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 3px;
    margin-right: 3px;
    display: block;
    border: 1px solid #ccc;
    text-align: center;
}

.menu li.active a {
    color: red;
    font-weight: bold;
}

.logo-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.logo-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    margin-bottom: 30px;
}

form {
    background: #fff;
}

.table-thumbnail img {
    max-width: 30px;
    height: auto;
}
