.leadia_widget_send_arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -6px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  -moz-transition: opacity .2s;
  transition: opacity .2s; }

.js-opened-room {
  max-width: 500px; }

.leadia_msg_typemessage {
  text-align: center;
  font-size: 12px;
  color: #7F7F7F; }

.clients_chat_wrapper {
  margin: 0;
  overflow: hidden;
  min-width: 1024px;
  overflow-x: auto; }

.clients_chat_body,
.clients_chat_header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  background: #fff;
  position: relative;
  z-index: 1; }

.clients_chat_header {
  z-index: 2; }

.clients_chat_header .clients_chat_left_col,
.clients_chat_header .clients_chat_center_col {
  -webkit-box-shadow: 0 1px 3px rgba(60, 55, 48, 0.15);
  box-shadow: 0 1px 3px rgba(60, 55, 48, 0.15); }

.clients_chat_header .clients_chat_right_col {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 21px; }

.clients_chat_left_col {
  width: 320px;
  border-right: 1px solid #e0e0e0; }

.clients_chat_center_col {
  width: calc(100% - 638px); }

.clients_chat_right_col {
  width: 318px;
  border-left: 1px solid #e0e0e0; }

.clients_chat_body > div {
  height: calc(100vh - 69px);
  overflow-y: auto; }

.clients_chat_body .clients_chat_right_col {
  border-top: 1px solid #e9e9e9;
  overflow: hidden;
  overflow-y: auto; }

.clients_chat_search {
  padding: 15px 20px 14px;
  position: relative; }

.clients_chat_search .form-group {
  margin: 0; }

.clients_chat_search .form-control {
  padding: 5px 34px;
  height: 40px;
  margin: 0;
  line-height: 24px;
  font-size: 12px;
  border: 1px solid #e2e2e2;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 20px; }

#change-status {
  display: flex;
  align-items: center;
  height: 69px;
  padding: 0 0px 0 21px; }
  #change-status .form-group {
    margin: 0; }
  #change-status .bs-example {
    display: none; }

.clients_chat_search .clients_chat_search_btn {
  position: absolute;
  padding: 0;
  top: calc(50% - 7px);
  background: none;
  width: 13px;
  height: 13px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  left: 36px; }

.clients_chat_search .clients_chat_search_btn svg {
  fill: #c3c4c6; }

.clients_chat_user_active_conversation {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 21px;
  position: relative; }

.clients_chat_user_info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.clients_chat_filter {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 21px; }

.clients_chat_filter .venyoo_btn {
  margin-right: 10px; }

.clients_chat_user_info .form-group {
  margin: 0 10px 0 0; }

.clients_chat_user_info .form-control {
  height: 40px; }

.clients_chat_user_img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 12px;
  position: relative;
  /*background: url("../../src/img/account/no-image-user.svg") -1px -1px no-repeat;*/
  border: 1px solid #d8dee9; }

.clients_chat_user_img .clients_chat_status {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: -1px;
  border-radius: 50%;
  background: #1bbf1f; }

.clients_chat_user_img .clients_chat_status.offline {
  background: #afb6c2; }

.clients_chat_user_img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; }

.clients_chat_user_name h2 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal; }

.clients_chat_user_name .clients_chat_user_city_info {
  margin: 0;
  line-height: 20px;
  font-size: 14px;
  color: #848484; }

.clients_chat_user_info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-right: 10px;
  align-items: center; }

.clients_chat_user_popup_wrapp {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  width: calc(100% - 17px);
  top: calc(100% + 12px);
  left: 8px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #3e8bfc;
  -webkit-box-shadow: 0 1px 3px rgba(62, 139, 252, 0.45);
  box-shadow: 0 1px 3px rgba(62, 139, 252, 0.45);
  z-index: 2;
  padding: 15px 28px 19px; }

@media (max-width: 1400px) {
  .clients_chat_user_popup_wrapp {
    padding-bottom: 0; } }
.clients_chat_user_popup_wrapp:after,
.clients_chat_user_popup_wrapp:before {
  bottom: 100%;
  right: 15px;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.clients_chat_user_popup_wrapp:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 5px; }

.clients_chat_user_popup_wrapp:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #3e8bfc;
  border-width: 6px;
  margin-right: -1px; }

.clients_chat_user_popup_info_btn {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #c3c4c6;
  border-radius: 50%;
  text-indent: -999em;
  background: url("../../src/img/account/info-ico.png") 6px 3px no-repeat; }

.clients_chat_user_popup_info_btn:hover {
  background-image: url("../../src/img/account/info-ico-white.png");
  background-color: #3e8bfc;
  border-color: #3e8bfc; }

.clients_chat_user_popup_info_btn:hover + .clients_chat_user_popup_wrapp {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible; }

.clients_chat_user_popup_information_list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

@media (max-width: 1400px) {
  .clients_chat_user_popup_information_list {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }
.clients_chat_user_popup_information_list li {
  list-style: none;
  width: calc((100% - 115px) / 3);
  font-size: 14px;
  line-height: 25px;
  color: #000; }

.clients_chat_user_popup_information_list li:last-child {
  width: 115px; }

@media (max-width: 1400px) {
  .clients_chat_user_popup_information_list li {
    width: 50%;
    margin-bottom: 20px; }

  .clients_chat_user_popup_information_list li:last-child {
    width: 50%; } }
@media (max-width: 1050px) {
  .clients_chat_user_popup_information_list li {
    font-size: 12px; } }
.clients_chat_user_popup_information_list li img {
  margin-right: 12px; }

.clients_chat_user_popup_information_list li .information_value {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.clients_chat_user_popup_information_list li .information_title {
  display: block;
  color: #848484; }

.clients_chat_bid_form_title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal; }

.clients_chat_wrapper .mCSB_inside > .mCSB_container {
  margin-right: 0; }

.clients_chat_list {
  margin: 0;
  padding: 0; }

.clients_chat_list li {
  list-style: none; }

.clients_chat_list li .clients_chat_list_item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: relative;
  border-left: 2px solid #fff;
  padding: 20px;
  text-decoration: none; }

.clients_chat_list li .clients_chat_list_item:hover {
  background: #f8f9fb;
  border-left-color: #f8f9fb; }

.clients_chat_list li.clients_chat_user_active .clients_chat_list_item {
  background: #f8f9fb;
  border-left-color: #3e8bfc;
  border-right: 1px solid #f8f9fb;
  width: calc(100% + 1px);
  margin-right: -1px;
  -webkit-box-shadow: inset 0px 6px 8px -6px #e9e9e9;
  box-shadow: inset 0px 6px 8px -6px #e9e9e9; }

.clients_chat_list li h2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-right: 60px; }

.clients_chat_list li .message {
  font-size: 12px;
  line-height: 20px;
  color: #848484;
  padding-right: 60px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.clients_chat_list li .clients_chat_user_time {
  position: absolute;
  right: 22px;
  top: 20px; }

.clients_chat_list li .clients_chat_user_time .time {
  font-size: 12px;
  line-height: 20px;
  color: #848484;
  display: block; }

.clients_chat_list li .clients_chat_user_time .clients_chat_new_message {
  display: none;
  font-size: 10px;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #3e8bfc;
  border-radius: 50%; }

.clients_chat_list li .clients_chat_user_time.clients_chat_new_message_active {
  top: 31px;
  right: 20px; }

.clients_chat_list li .clients_chat_user_time.clients_chat_new_message_active .clients_chat_new_message {
  display: block; }

.clients_chat_list li .clients_chat_user_time.clients_chat_new_message_active .time {
  display: none; }

.clients_chat_list li .clients_chat_user_img {
  position: relative; }

.clients_chat_list li .clients_chat_user_name {
  width: calc(100% - 52px); }

.clients_chat_list li h2 {
  margin: 0;
  padding-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.clients_chat_list li .clients_chat_user_last_message {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block; }

.clients_chat_list li .clients_chat_user_last_message .writing {
  display: none;
  font-size: 12px;
  line-height: 20px;
  color: #848484;
  font-style: italic; }

.clients_chat_list li .clients_chat_user_last_message.clients_chat_user_writing .writing {
  display: block; }

.clients_chat_list li .clients_chat_user_last_message.clients_chat_user_writing .message {
  display: none; }

.clients_chat_messages_body {
  background: #fff;
  height: calc(100% - 65px);
  overflow: hidden;
  overflow-y: auto; }

.clients_chat_messages_body .clients_chat_messages_wrapper {
  padding: 20px 250px 80px; }

.chat-client-container .clients_chat_messages_wrapper {
  padding: 20px 250px 20px; }

@media (max-width: 1920px) {
  .clients_chat_messages_body .clients_chat_messages_wrapper {
    padding-left: 70px;
    padding-right: 20px; } }
@media (max-width: 1400px) {
  .clients_chat_messages_body .clients_chat_messages_wrapper {
    padding: 20px 10px 10px;
    margin: 0 10px;
    overflow: hidden;
    min-height: 262px; } }
.clients_chat_body_message_write {
  padding: 10px 16px 10px 14px;
  height: 65px;
  position: relative;
  overflow: hidden; }
  .clients_chat_body_message_write .venyoo_btn {
    position: absolute;
    top: -60px;
    left: 220px; }
  .clients_chat_body_message_write .venyoo_cta {
    left: 21px; }

.leadia_msg_typemessage {
  text-align: center; }

.clients_chat_body_message_write form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 45px !important;
  min-height: inherit;
  padding: 8px 6px 8px 15px !important;
  vertical-align: bottom;
  border: 1px solid #dddcd7 !important;
  font: 13px/1.5 Helvetica, Arial;
  color: #000 !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  min-width: initial !important;
  resize: none;
  -webkit-transition: height .2s, -webkit-box-shadow .2s, border-color .2s;
  -moz-transition: height .2s, -moz-box-shadow .2s, border-color .2s;
  -o-transition: height .2s, box-shadow .2s, border-color .2s;
  transition: height .2s, box-shadow .2s, border-color .2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background: white;
  position: relative; }
  .clients_chat_body_message_write form.shacked {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    backface-visibility: hidden; }

.clients_chat_body_message_write .write_message_for {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.clients_chat_body_message_write .input_file {
  position: relative;
  margin-left: 20px; }

.clients_chat_body_message_write .input_file svg {
  display: block;
  fill: #c2c3c5;
  width: 19px;
  height: 20px; }

.clients_chat_body_message_write .input_file label {
  display: block;
  width: 19px;
  height: 20px;
  margin: 0;
  cursor: pointer; }

.clients_chat_body_message_write .input_file label:hover svg {
  fill: #e5274f; }

.clients_chat_body_message_write .input_file input {
  display: none; }

.clients_chat_body_message_write textarea {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 13px;
  resize: none;
  height: 45px;
  padding: 13px 10px 12px;
  line-height: 20px;
  display: block;
  width: 100%; }

.clients_chat_body_message_write textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

.clients_chat_body_message_write .write_message_btn {
  position: relative;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3e8bfc;
  padding: 8px;
  margin-left: 20px; }

.clients_chat_body_message_write .write_message_btn svg {
  width: 15px;
  height: 14px;
  fill: #fff;
  margin: 0;
  display: inline-block;
  margin-left: -4px; }

.msg_wrap_corner_right {
  position: absolute;
  right: -8px;
  bottom: 33px;
  width: 1px;
  height: 1px; }

.msg_wrap_corner_right:after {
  content: '';
  top: -15px;
  right: -12px;
  position: absolute;
  border: 0px solid;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  border-bottom-right-radius: 50%;
  -webkit-box-shadow: -16px -3px 0px -5px white, -16px -3px 0px -4px #dddcd7, inset 4px 0 0px -3px #dddcd7;
  -moz-box-shadow: -16px -3px 0px -5px white, -16px -3px 0px -4px #dddcd7, inset 4px 0 0px -3px #dddcd7;
  box-shadow: -16px -3px 0px -5px white, -16px -3px 0px -4px #dddcd7, inset 4px 0 0px -3px #dddcd7;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  /* z-index: -1; */
  z-index: -1; }

.msg_wrap_corner_right:before {
  content: '';
  width: 6px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 11px;
  right: 26px; }

.data_conversation_info {
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px; }

.data_conversation_info .bordered {
  display: inline-block;
  padding: 0 19px;
  position: relative; }

.data_conversation_info .bordered:after,
.data_conversation_info .bordered:before {
  content: '';
  height: 1px;
  width: 100vw;
  position: absolute;
  left: 100%;
  top: 50%;
  background: #e9e9e9; }

.data_conversation_info .bordered:after {
  left: auto;
  right: 100%; }

.data_conversation_info .bordered span {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding: 0 23px;
  line-height: 25px;
  color: #848484;
  border: 1px solid #e2e2e2;
  background: #fff;
  border-radius: 14px; }

.to_client_message,
.client_message {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.to_client_message:last-child,
.client_message:last-child {
  margin-bottom: 0; }

.to_client_message .message_time,
.client_message .message_time {
  position: absolute;
  bottom: -20px;
  display: block;
  font-size: 10px;
  color: #848484;
  line-height: 40px;
  padding-left: 7px;
  width: 47px; }

.to_client_message p,
.client_message p {
  max-width: 90%;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 12px 15px;
  font-size: 13px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #dddcd7;
  color: #000;
  background-color: #fafafa;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  word-wrap: break-word;
  width: 100%;
  z-index: 2; }

.client_message p:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 0;
  bottom: 1px;
  background: #fafafa;
  z-index: 9; }

.to_client_message p:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 1px;
  background: #fff;
  z-index: 9; }

.to_client_message p.load_message:after,
.client_message p.load_message:after {
  content: '';
  width: 20px;
  height: 5px;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  background: url("../../src/img/account/load-chat.gif") 0 0 no-repeat; }

.msg_wrap_corner {
  position: absolute;
  left: -20px;
  bottom: 17px;
  width: 1px;
  height: 1px;
  z-index: 1; }

.to_client_message .msg_wrap_corner {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: auto;
  right: -20px; }
  .to_client_message .msg_wrap_corner #edeef0
  .msg_wrap_corner:after {
    background-color: #fff; }

.msg_wrap_corner:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 0;
  height: 10px;
  border-right: 30px solid #fafafa;
  -webkit-box-shadow: 0 0 0 1px #dddcd7;
  -moz-box-shadow: 0 0 0 1px #dddcd7;
  box-shadow: 0 0 0 1px #dddcd7;
  -webkit-border-bottom-right-radius: 80px 50px;
  -moz-border-radius-bottomright: 80px 50px;
  border-bottom-right-radius: 80px 50px;
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px); }

.msg_wrap_corner:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -11px;
  left: 0;
  width: 30px;
  height: 13px;
  background: #fff;
  -webkit-border-bottom-right-radius: 40px 50px;
  -moz-border-radius-bottomright: 40px 50px;
  border-bottom-right-radius: 40px 50px;
  -webkit-transform: translate(-10px, -2px);
  -moz-transform: translate(-10px, -2px);
  -ms-transform: translate(-10px, -2px);
  -o-transform: translate(-10px, -2px);
  transform: translate(-10px, -2px);
  -webkit-box-shadow: 1px 0 0px 0px #dddcd7;
  -moz-box-shadow: 1px 0 0px 0px #dddcd7;
  box-shadow: 1px 0 0px 0px #dddcd7; }

.to_client_message {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.to_client_message .message_time {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -o-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  padding-left: 0;
  padding-right: 7px;
  text-align: right;
  right: 0; }

.to_client_message p {
  text-align: left;
  margin-left: 0;
  background: #fff; }

.to_client_message p:before {
  left: auto;
  right: -5px;
  background: #edeef0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 1px 2px 3px rgba(60, 55, 48, 0.1);
  box-shadow: 1px 2px 3px rgba(60, 55, 48, 0.1); }

.clients_chat_wrapper .mCSB_container,
.clients_chat_wrapper .mCustomScrollBox {
  overflow: visible; }

.clients_chat_wrapper .mCSB_scrollTools {
  width: 14px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

.clients_chat_wrapper .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: none; }

.clients_chat_wrapper .mCSB_scrollTools .mCSB_dragger {
  background: none; }

.clients_chat_wrapper .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #d6d6d6; }

.new_bid_form {
  padding: 22px 20px 20px; }

.new_bid_form .form-group {
  margin: 0 0 15px; }

.new_bid_form .form-group:after {
  content: '';
  display: table;
  clear: both; }

.new_bid_form label {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 5px;
  font-weight: normal;
  display: block; }

.new_bid_form .form-control {
  border: 1px solid #e2e2e2;
  padding: 7px 10px 8px;
  line-height: 23px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.new_bid_form .form-control:focus {
  -webkit-box-shadow: 0 1px 4px #aecbfb;
  box-shadow: 0 1px 4px #aecbfb;
  border-color: #66afe9; }

.new_bid_form textarea.form-control {
  resize: none;
  height: 200px; }

.new_bid_form .venyoo_cta {
  width: 100%;
  display: block;
  text-align: center; }

.new_bid_form .status_lid > span {
  width: 100%;
  display: block;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px; }

.new_bid_form .leads_listing_status {
  margin-bottom: 5px; }

.new_bid_form .leads_listing_status,
.new_bid_form .btn-group {
  display: block;
  width: 100%; }

.new_bid_form .leads_listing_status .btn,
.new_bid_form .btn-group .btn {
  border: none;
  float: none;
  display: block; }

.new_bid_form .leads_listing_status .dropdown-menu,
.new_bid_form .btn-group .dropdown-menu {
  top: auto;
  bottom: 100%;
  width: 100%; }

.copy_buttons_block {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow: hidden;
  border-radius: 17px;
  z-index: 9;
  -webkit-box-shadow: 0 1px 3px rgba(60, 55, 48, 0.15);
  box-shadow: 0 1px 3px rgba(60, 55, 48, 0.15);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -moz-transition: opacity 0.2s, visibility 0.2s;
  -o-transition: opacity 0.2s, visibility 0.2s;
  -ms-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s; }

.copy_buttons_block.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible; }

.copy_buttons_block a {
  display: block;
  line-height: 33px;
  font-size: 12px;
  color: #fff;
  background: #333;
  border-right: 1px solid #555;
  text-decoration: none;
  padding: 0 20px;
  white-space: nowrap; }

.copy_buttons_block a:hover {
  background: #3e8bfc; }

.copy_buttons_block a:last-child {
  border-right: none; }

.venyoo_btn {
  min-height: 40px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  display: inline-block;
  width: auto;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #fff; }

.venyoo_btn:focus {
  background-color: #fff;
  text-decoration: none;
  outline: none;
  color: #7a7a7a; }

.venyoo_btn:hover {
  background-color: #3e8bfc;
  border-color: #3e8bfc;
  color: #fff;
  outline: none;
  text-decoration: none; }

.venyoo_btn.has_icon i {
  margin-left: 10px; }

.venyoo_btn_prim {
  background-color: #3e8bfc;
  color: #fff;
  border-color: #3e8bfc; }

.venyoo_btn_prim:hover {
  background-color: #3e8bfc;
  color: #fff; }

.venyoo_cta {
  background-color: #e5274f;
  border-color: #e5274f;
  color: #fff; }

.venyoo_cta:focus {
  background-color: #e5274f;
  border-color: #e5274f;
  color: #fff; }

.venyoo_cta:hover {
  background-color: #d01f44;
  border-color: #d01f44; }

.venyoo_save_btn:hover {
  background-color: #fff;
  color: #7a7a7a;
  border-color: #7a7a7a; }

.venyoo_save_btn.save {
  background-color: #e5274f;
  border-color: #e5274f;
  color: #fff; }

.venyoo_save_btn.save:focus {
  background-color: #e5274f;
  border-color: #e5274f;
  color: #fff; }

.venyoo_save_btn.save:hover {
  background-color: #d01f44;
  border-color: #d01f44; }

.config_form_control,
.venyoo_input {
  min-height: 40px;
  border: 1px solid #d7dde8;
  border-radius: 3px;
  color: #2f3740;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff; }

.config_form_control:focus,
.venyoo_input:focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

textarea.venyoo_textarea,
.venyoo_textarea {
  height: 80px;
  resize: none; }

textarea.config_form_control {
  margin-bottom: 20px;
  height: 80px;
  resize: none; }

.venyoo_c_select.dropdown-toggle {
  min-height: 40px !important;
  border: 1px solid #d7dde8 !important;
  border-radius: 3px;
  display: inline-block;
  width: auto;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  color: #2f3740;
  background-color: #fff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.venyoo_c_select.dropdown-toggle:hover,
.venyoo_c_select.dropdown-toggle:focus {
  color: #2f3740;
  background-color: #fff; }

.callback_select_c {
  margin-bottom: 17px; }

.add_project_btn {
  width: 100%; }

.venyoo_btn.btn_code,
.venyoo_btn.eye_demo,
.venyoo_btn.venyoo_save_btn {
  min-height: 28px;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 18px; }

.venyoo_btn.btn_code.has_icon i,
.venyoo_btn.eye_demo.has_icon i,
.venyoo_btn.venyoo_save_btn.has_icon i {
  margin-left: 3px; }

.venyoo_link_btn {
  min-height: 40px;
  display: inline-block;
  width: auto;
  font-size: 14px;
  line-height: 24px;
  padding: 0px 0px 11px;
  text-align: center;
  text-decoration: none;
  color: #3e8bfc;
  background-color: #fff;
  border: 0 none; }

.venyoo_link_btn:hover,
.venyoo_link_btn:focus,
.venyoo_link_btn:active {
  color: #3e8bfc; }

.js_add_sms_input,
.js_add_email_input {
  padding-top: 20px; }

.js_add_sms_input i,
.js_add_email_input i {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle; }

.js_add_sms_input i img,
.js_add_email_input i img {
  width: 24px;
  height: 24px; }

.js_add_email_input {
  margin-left: 30px; }

.notific_save_cls {
  margin-bottom: 22px; }

.clients_chat_wrapper {
  width: 100%; }

.full-width {
  width: 100%; }

.client-page .message_block_wrapp {
  display: none; }
.client-page .clients_chat_wrapper {
  min-width: 100%;
  height: calc(100vh); }
.client-page .clients_chat_body {
  height: calc(100% - 76px); }
  .client-page .clients_chat_body > div {
    height: calc(100vh - 0px); }
.client-page .clients_chat_wrapper {
  margin-top: 0px; }

.js-chat-user-data-inactive {
  opacity: 0.5;
  filter: blur(2px); }

.clients_chat_list li {
  position: relative; }
  .clients_chat_list li .close-room {
    position: absolute;
    right: 10px;
    top: 5px;
    background: #edeef0;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #000;
    border-radius: 50%;
    text-decoration: none; }

.clients_chat_messages_body {
  height: calc(100% - 65px); }

.clients_chat_list {
  position: relative;
  overflow-x: hidden; }

.venyoo_btn.active {
  background-color: #3e8bfc;
  border-color: #3e8bfc; }
  .venyoo_btn.active:hover, .venyoo_btn.active:active {
    background-color: #377de4;
    border-color: #377de4; }

.full-width-select {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 150px; }

.clients_chat_list li.js-open-room.clients_chat_user_active .clients_chat_list_item {
  background: #f8f9fb; }
.clients_chat_list li.js-open-room.white-bg .clients_chat_list_item {
  background: #fff; }

.clients_chat_list li.clients_chat_user_active .clients_chat_list_item {
  border-left: 5px solid #3e8bfc; }

.clients_chat_list li .clients_chat_list_item {
  background: #f8f9fb;
  border-left: 2px solid #e8e8e8; }

.js-current-state-rooms .js-close-room, .js-current-state-leads .js-close-room {
  display: none !important; }
.js-current-state-rooms [data-chat-container="close-chat-room"],
.js-current-state-rooms [data-chat-container="show-thank-you-page"], .js-current-state-leads [data-chat-container="close-chat-room"],
.js-current-state-leads [data-chat-container="show-thank-you-page"] {
  display: none !important; }

#loading {
  display: none !important;
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  margin-top: 0px;
  top: 0px; }

#loading-center {
  width: 100%;
  height: 100%;
  position: relative; }

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.object {
  width: 20px;
  height: 20px;
  background-color: #9a9393;
  position: absolute;
  left: 65px;
  top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%; }

.object:nth-child(2n+0) {
  margin-right: 0px; }

#object_one {
  -webkit-animation: object_one 2s infinite;
  animation: object_one 2s infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

#object_two {
  -webkit-animation: object_two 2s infinite;
  animation: object_two 2s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

#object_three {
  -webkit-animation: object_three 2s infinite;
  animation: object_three 2s infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

#object_four {
  -webkit-animation: object_four 2s infinite;
  animation: object_four 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#object_five {
  -webkit-animation: object_five 2s infinite;
  animation: object_five 2s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

#object_six {
  -webkit-animation: object_six 2s infinite;
  animation: object_six 2s infinite;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

#object_seven {
  -webkit-animation: object_seven 2s infinite;
  animation: object_seven 2s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

#object_eight {
  -webkit-animation: object_eight 2s infinite;
  animation: object_eight 2s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

#object_big {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 50px;
  -webkit-animation: object_big 2s infinite;
  animation: object_big 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.loader-inner.ball-pulse-sync {
  text-align: center;
  padding: 15px 0 10px; }
  .loader-inner.ball-pulse-sync > div {
    display: inline-block;
    background-color: #dddcd7;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 1px;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both; }
    .loader-inner.ball-pulse-sync > div:nth-child(1) {
      -webkit-animation: ball-pulse-sync 0.8s 0.07s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      -moz-animation: ball-pulse-sync 0.8s 0.07s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      -o-animation: ball-pulse-sync 0.8s 0.07s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      animation: ball-pulse-sync 0.8s 0.07s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65); }
    .loader-inner.ball-pulse-sync > div:nth-child(2) {
      -webkit-animation: ball-pulse-sync 0.8s 0.14s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      -moz-animation: ball-pulse-sync 0.8s 0.14s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      -o-animation: ball-pulse-sync 0.8s 0.14s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      animation: ball-pulse-sync 0.8s 0.14s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65); }
    .loader-inner.ball-pulse-sync > div:nth-child(3) {
      -webkit-animation: ball-pulse-sync 0.8s 0.21s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      -moz-animation: ball-pulse-sync 0.8s 0.21s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      -o-animation: ball-pulse-sync 0.8s 0.21s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65);
      animation: ball-pulse-sync 0.8s 0.21s infinite cubic-bezier(0.22, 0.03, 0.75, 0.65); }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
@-webkit-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }
  66% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@-moz-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -moz-transform: translateY(4px);
    transform: translateY(4px); }
  46% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    transform: translateY(-4px); }
  60% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }
@-o-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px); }
  66% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px); }
  46% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes object_big {
  50% {
    -webkit-transform: scale(0.5); } }
@keyframes object_big {
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-webkit-keyframes object_one {
  50% {
    -webkit-transform: translate(-65px, -65px); } }
@keyframes object_one {
  50% {
    transform: translate(-65px, -65px);
    -webkit-transform: translate(-65px, -65px); } }
@-webkit-keyframes object_two {
  50% {
    -webkit-transform: translate(0, -65px); } }
@keyframes object_two {
  50% {
    transform: translate(0, -65px);
    -webkit-transform: translate(0, -65px); } }
@-webkit-keyframes object_three {
  50% {
    -webkit-transform: translate(65px, -65px); } }
@keyframes object_three {
  50% {
    transform: translate(65px, -65px);
    -webkit-transform: translate(65px, -65px); } }
@-webkit-keyframes object_four {
  50% {
    -webkit-transform: translate(65px, 0); } }
@keyframes object_four {
  50% {
    transform: translate(65px, 0);
    -webkit-transform: translate(65px, 0); } }
@-webkit-keyframes object_five {
  50% {
    -webkit-transform: translate(65px, 65px); } }
@keyframes object_five {
  50% {
    transform: translate(65px, 65px);
    -webkit-transform: translate(65px, 65px); } }
@-webkit-keyframes object_six {
  50% {
    -webkit-transform: translate(0, 65px); } }
@keyframes object_six {
  50% {
    transform: translate(0, 65px);
    -webkit-transform: translate(0, 65px); } }
@-webkit-keyframes object_seven {
  50% {
    -webkit-transform: translate(-65px, 65px); } }
@keyframes object_seven {
  50% {
    transform: translate(-65px, 65px);
    -webkit-transform: translate(-65px, 65px); } }
@-webkit-keyframes object_eight {
  50% {
    -webkit-transform: translate(-65px, 0); } }
@keyframes object_eight {
  50% {
    transform: translate(-65px, 0);
    -webkit-transform: translate(-65px, 0); } }
.client-admin-part .clients_chat_body_message_write {
  overflow: visible; }
.client-admin-part .to_client_message p.load_message:after, .client-admin-part .client_message p.load_message:after {
  position: inherit; }

.client-admin-part .clients_chat_body_message_write .venyoo_cta, .client-admin-part .clients_chat_body_message_write .venyoo_btn {
  z-index: 10; }
.client-admin-part .clients_chat_body_message_write:after {
  content: '';
  height: 80px;
  background: #fff;
  width: calc(100% - 15PX);
  position: absolute;
  top: -70px;
  z-index: 4;
  left: 0; }

.login-form {
  padding-top: 50px;
  padding-bottom: 50px; }

/*# sourceMappingURL=main.css.map */
.client-admin-part .clients_chat_body_message_write:after {
  display: none !important;
}